@charset "utf-8";
/* CSS Document */

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

.clearfix:after{
	content:'';
	display:block;
	clear:both;
}

.hr{
	width:60%;
	height:2px;
	margin:20px auto;
	background-color:#fff;
}

.buttom{
	border:none;
	background-color:#CCC;
	color:#000;
	padding:14px 40px;
	
}

h1{
	padding:12px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	color:#fff;
}

h2{
	font-size:30px;
}

h3{
	font-size:22px;
	text-align:left;
	padding:10px;
}

p{
	font-size:18px;
	letter-spacing:1px;
	color:#fff;
}

ul{
	margin:0;
}

header{
	background-color:rgba(0,0,0,0.3);
}

nav{
	background-color:transparent;
	height:50px;
}


nav ul{
	list-style:none;
	margin:0;
	float:right;
}

nav ul li, nav .logo{
	display:inline-block;
	line-height:50px;
	margin-right:20px;
}
	
nav ul li a{
	line-height:inherit;
	text-decoration:none;
	display:inline-block;
	height:inherit;
	color:#FFF;


}

nav .logo{
	float:left;
	margin-left:20px;
	font-size:20px;
	font-weight:700;
	letter-spacing:2px;
	
	
}

nav .logo a{
	text-decoration:none;
	color:#fff;
}

#banner{
	background-color:transparent;
	height:700px;
}

#banner .inner{
	max-width:300px;
	text-align:center;
	margin:0 auto;
	position:relative;
	top:160px;
	
}

#banner .inner h1{
	margin:0;
	
}

.sub-heading{
	line-height:30px;
	margin:30px;
	font-size:18px;

	
}

#banner .inner .more{
	margin-top:260px;
	color:#fff;
}

.section1{
	background-color:#089080;
	color:#fff;
	padding:80px 0;
}

.wrapper{
	max-width:1080px;
	margin:0 auto;
	text-align:center;
}

.section1 .icon{
	display:inline-block;
	background-color:#fff;
	width:50px;
	height:50px;
	transform:rotate(45deg);
	margin:15px;
}
	
.section2 .img-section{
	width:45%;
}

.img-section img{
	width:100%;
}

.section2{
	background-color:#252f34;
	color:#fff;
}

.section .article-preview{
	width:55%;
}

.article-preview > div{
	float:left;
}

.article-preview:nth-child(odd){
	background-color: rgba(225,225,225,0.05);
}

.text-section{
	padding-right:22.25%;
	margin-top:80px;
	margin-left:50px;
}


.text-section .sub-heading{
	font-size:22px;
	margin:-12px auto 0;

}

.section3{
	background-color:#3f3965;
	color:#fff;
	padding:100px;
	
}

.section3 .hr{
	background-color:#3732359;
}

.card{
	float:left;
	width:50%;
	min-height:300px;
	padding:50px;
	box-sizing:border-box;
}

.card:first-child{
	background:rgba(0, 0, 0, 0.08);
}

.card:nth-child(2){
	background:rgba(0, 0, 0, 0.12);
}

.card:nth-child(3){
	background:rgba(0, 0, 0, 0.16);
}

.card:nth-child(4){
	background:rgba(0, 0, 0, 0.20);
}

.card:nth-child(5){
	background:rgba(0, 0, 0, 0.24);
}

.card:nth-child(6){
	background:rgba(0, 0, 0, 0.28);
}

footer{
	background:#333;
	color:#fff;
	min-height:200px;
	text-align:center; 
}

ul .share-group{
	display:block;
	width:1080px;
	margin:0 auto;
}

.share-group li{
	display:inline-block;
	padding:50px 10px 80px 10px;

}

.main-wrapper{
	background:url(img/banner.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
}